@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Map Flash Animations */
@keyframes map-flash-good {

  0%,
  100% {
    fill: #ffffff;
    stroke: #ffffff;
    stroke-width: 1px;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
    transform: scale(1);
  }

  50% {
    fill: #34d399;
    stroke: #34d399;
    stroke-width: 3px;
    filter: drop-shadow(0 0 25px #34d399);
    transform: scale(1.02);
  }
}

@keyframes map-flash-bad {

  0%,
  100% {
    fill: #ffffff;
    stroke: #ffffff;
    stroke-width: 1px;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
    transform: scale(1);
  }

  50% {
    fill: #fb7185;
    stroke: #fb7185;
    stroke-width: 3px;
    filter: drop-shadow(0 0 25px #fb7185);
    transform: scale(1.02);
  }
}